.search-container {
    width: 100%;

    .row {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        padding: 20px 0;
        background: black;
    }

    .search-box {
        margin: 0 auto;
        padding-left: 10px;
        input {
            display: -webkit-box;
        }
    }

    #search-box {
        width: 800px;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 20px;
    }

} 